.beerImage {
  width: 45%;
  height: 65%;
  max-height: 250px;
  max-width: 165px;
}

.BeerCard {
  float: left;
  margin: 1%;
  width: 30%;
  background: rgb(251, 241, 178);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  min-height: 800px;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
}

.BeerCard.Show {
  width: 90%;
  margin: auto;
  float: none;
  padding-bottom: 20px;

}

.BeerCard input, .BeerCard textarea {
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10%;
  max-width: 90%;
}

.BeerCard input:hover, .BeerCard textarea:hover {
  border: 2px;
  border-style: solid;
  border-color: brown;
  border-radius: 5px;
  padding: 5px;
  max-width: 90%;
}

label {
  color: rgb(134, 62, 47);
  display: block;
}

.BeerCard:hover {
  box-shadow: 0 14px 20px rgb(255, 232, 191), 0 10px 20px white;
}

body {
  background-image: url(https://images7.alphacoders.com/288/thumb-1920-288712.jpg)
}

.vote-button {
  font-size: 16px;
  border-radius: 4px;
}

.downvote-button:hover {
  background-color: rgb(236, 155, 148);
  border: 2px;
  border-color: red;
  border-style: solid;
  border-radius: 6px;
  padding: 2px;
  margin: 2px
}

.downvote-button {
  background-color: white;
  color: red;
  border: 2px;
  border-color: red;
  border-style: solid;
  border-radius: 6px;
  padding: 2px;
  margin: 2px
}

.upvote-form, .downvote-form {
  display: inline-block;
}

.upvote-button:hover {
  background-color: rgb(208, 237, 193);
  border: 2px;
  border-color: green;
  border-style: solid;
  border-radius: 6px;
  padding: 2px;
  margin: 2px;
}

.upvote-button {
  background-color: white;
  color: rgb(0, 99, 18);
  border: 2px;
  border-color: green;
  border-style: solid;
  border-radius: 6px;
  padding: 2px;
  margin: 2px;
}

.BeerCard input.submit-comment-button {
  background-color: white;
  border: 2px;
  border-color: green;
  border-style: solid;
  padding: 2px;
  margin: 2px;
  min-height: 40px;
  min-width: 120px;
}

.BeerCard input.submit-comment-button:hover {
  color: white;
  background-color: green;
  border: 2px;
  border-color: white;
  border-style: solid;
  padding: 2px;
  margin: 2px;
  min-height: 40px;
  min-width: 120px;
}


.comment-form {
  width: 100%;
}

.BeerCard input.create-beer-button:hover {
  min-height: 50px;
  min-width: 80px;
  color: white;
  background-color: rgb(123, 57, 27);
  font-weight: bold;
  border: 2px;
  border-style: solid;
  border-color: white;

}

.BeerCard input.create-beer-button {
  font-weight: bold;
  min-height: 50px;
  min-width: 80px;
  background-color: white;
  color: brown;
  border: 2px;
  border-style: solid;
  border-color: brown;
  margin-bottom: 0;
}

.required-fields-p {
  font-style: italic;
  color: red;
  font-size: 12px;
}

.vote-form {
  margin-bottom: 25px;
}

.comment-form textarea {
  margin-bottom: 5px;
  margin-top: 2px;
  max-width: 90%;
  min-height: 80px;
}

.beer-description {
  color: brown;
  font-style: italic;
}

#BeerForm {
    margin: auto;
    width: 50%;
    padding: 10px;
    float:none;
}

p.comment {
  color: rgb(77, 24, 127);
  font-style: italic;
  padding: 0px;
  margin: 5px;

}

.CommentCard {
  border-style: solid;
  border-color: rgb(255, 157, 116);
  border-width: 1px;
  border-radius: 15px;
  max-width: 80%;
  float: none;
  margin: auto;
  margin-top: 4px;
}
