.beerImage {
  width: 45%;
  height: 65%;
  max-height: 250px;
  max-width: 165px;
}

.BeerCard {
  float: left;
  margin: 1.5%;
  width: 30%;
  background: rgb(251, 241, 178);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  min-height: 600px;
}

.BeerCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body {
  background-image: url(https://images7.alphacoders.com/288/thumb-1920-288712.jpg)
}

input, textarea {
  padding: 5px;
}
